/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron{
  background-color: pink;
}

h2{
  color: red;
  font-family: 'Hind', sans-serif;

}


.navbar{
  border:2px solid green;
}

.navbar-brand{
  background-color: rgb(182, 187, 183);
  font-family: 'Hind', sans-serif;
}
.nav{
  font-family: 'Hind', sans-serif;

}

.btn-default{
  font-family: 'Hind', sans-serif;

}

.form-group{
  font-family: 'Hind', sans-serif;
}

.welcome h1{
text-align:center;
font-size: 30px;
color:blue;
font-family: 'Hind', sans-serif;
}

p{
  font-family: 'Hind', sans-serif;

}

header{
  font-family: 'Hind', sans-serif;
  text-align: center;

}

.profilepic {
  text-align: center;
  margin-bottom: 25px;
}

h3{
  font-size: 40px;
font-family: 'Hind', sans-serif;
}

.oceans h3{
  color:green;
}

.basketball h3{
  color:blue;
}

.sushi h3{
  color:purple;
}

.notebook h3{
  color:red;
}

.form{
  margin:auto;
}

.contactme{
  border:2px solid green;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contactme header{
  font-size: 30px;
  padding:10px;
  font-family: 'Hind', sans-serif;

}

.contactme h1{
  text-align: center;
  margin-top: 0px;
  font-family: 'Hind', sans-serif;
}

.page-header h2{
  color:rgb(246, 69, 145);
}

.glyphicon-sunglasses{
  color:red;
}

.glyphicon-heart-empty{
  color:rgb(249, 17, 144);
}

.glyphicon-flash{
  color:yellow;
}

.glyphicon-phone{
  color:green;
}

.glyphicon-envelope{
  color: purple;
}

.glyphicon-thumbs-up{
  color:blue;
}

.glyphicon-link{
  color:red;
}

.glyphicon-phone-alt{
  color:orange;
}

.glyphicon-home{
  color:rgb(63, 164, 208);
}

.container-fluid .icon-circle{
margin-left: 376px;}

body{
    padding: 50px;
}


.icon-circle .fa{
    font-size           : 25px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 80px;
    width               : 80px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 80px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{

    background-color        : #e84700;
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2);
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2);
    -o-transform            : scale(1.2,1.2);
    transform               : scale(1.2,1.2);
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 40px;
}

@media (min-width:320px) and (max-width:768px) {


 .icon-circle .fa{
    font-size           : 15px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{

    background-color        : #e84700;
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2);
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2);
    -o-transform            : scale(1.2,1.2);
    transform               : scale(1.2,1.2);
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 20px;
}
}

.ifacebook .fa{
    color               :#3B5998;
    border              :2px solid #3B5998;
}

.ifacebook .fa:hover{

    background-color        : #3B5998;
    color                   : #fff;
    border                  : 1px solid #3B5998;

}

.itwittter .fa{
    color               : #33ccff;
    border              :2px solid #33ccff;
}

.itwittter .fa:hover{

    background-color        : #33ccff;
    color                   : #fff;
    border                  : 1px solid #33ccff;

}

.igoogle .fa{
    color               : #BD3518;
    border              :2px solid #BD3518;
}

.igoogle .fa:hover{

    background-color        : #BD3518;
    color                   : #fff;
    border                  : 1px solid #BD3518;

}

.iLinkedin .fa{
    color               : #007bb7;
    border              :2px solid #007bb7;
}

.iLinkedin .fa:hover{

    background-color        :#007bb7;
    color                   : #fff;
    border                  : 1px solid #007bb7;

}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
